
			<div class="col-md-2 sidebar" id="content-main">
				<br><br><br>
				<ul class="nav">
	            	<li><a href="#" id="profile">프로필</a></li>
	            	<li><a href="#" id="project">프로젝트</a></li>
	            	<li><a href="#" id="preview">미리보기</a></li>
	    		</ul>
	    	</div>
	    	<script>
	    		$(function(){
	    			$('#profile').click(function(){
	    				location.href="profile.jsp";
	    			})
	    			$('#project').click(function(){
	    				location.href="project.jsp";
	    			})
	    			$('#preview').click(function(){
	    				location.href="showPorfolio.jsp";
	    			})
	    		})
	    	</script>
	    	